<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>OraimoBuds</string>
    <key>CFBundleDisplayName</key>
    <string>OraimoBuds</string>
    <key>CFBundleIdentifier</key>
    <string>com.oraimobuds.mac</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>OraimoBuds</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>OraimoBuds needs Bluetooth to talk to your SpaceBuds Neo+ earbuds (ANC, EQ, battery, gestures).</string>
    <key>NSHighResolutionCapable</key>
    <true/>
</dict>
</plist>
